@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #B8B8FF;
}

@media only screen and(max-width: 400px){
    .App{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
    }    
}

/*
9381FF
B8B8FF
F8F7FF
FFEEDD
FFD8BE
*/