.question-container{
    width: 100%;
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    flex-direction: column;
    background-color: #B8B8FF;
    border-radius: 8% 92% 10% 90% / 83% 9% 91% 17% ;
    padding: 40px;
    box-shadow: 0 5px 12px rgba(147, 129, 255, 0.6);

    .question{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        h3{
            width: 100%;
            text-align: center;
            font-size: 2.4rem;
            margin-bottom: 150px;
            color: #FFD8BE;
        }

    }
}

@media only screen and(max-width: 600px){

    .question-container{
        width: 70%;
        height: 100%;
        border-radius: 6% 96% 6% 99% / 88% 7% 96% 11% ;
        padding: 45px;

        .question{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 2rem;
            }
    
        }
    }

}